html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}


.formContainer {
  background-color: rgb(131, 127, 247);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center; /* Add a semicolon here */
  border: none;
  outline: none;

}

.formWrapper {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.Head {
  font-weight: bold;
  font-size: 24px;
  color: purple;
}

.sub {
  font-size: 12px;
  display: flex;
  gap: 15px;
}

 input {
  padding: 15px;
  border: none;
  border-bottom: 1px solid rgb(205, 205, 205);
  width: 250px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}

button{
  background-color: rgb(131, 127, 247);
  color: white;
  padding: 10px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
p{
  font-size: 12px;
  color: rgb(131, 127, 247);
  margin-top: 10px;
  margin-left: 60px;
}

a{
  text-decoration: none;
}
label{
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 12px;
  cursor: pointer;
  color: rgb(131, 127, 247);
}

.home{
  background-color: rgb(131, 127, 247);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.container{
  border: 1px solid white;
  border-radius: 10px;
  width: 70%;
  height: 75%;
  display: flex;
  overflow: hidden;
}

.sidebar{
  flex: 1;
  border-right: 1px solid wheat;
  background-color: rgb(49, 26, 70);
}


.navbar{
  display: flex;
  align-items: center;
  background-color: rgb(0, 68, 128);
  height: 50px;
  padding: 10px;
  justify-content: space-between;
  color: white;
}

.logo{
  font-weight: bold;

}
.user{
  display: flex;
  gap: 10px;
}

img{
  background-color: white;
  height: 24px;
  width: 23px;
  border-radius: 50%;
  object-fit: cover;
}

button{
  background-color: rgb(0, 16, 16);
  color: aliceblue;
  font-size: 10px;
  border: none;
  cursor: pointer;
}

.search{
  border: 1px solid gray;
}
.searchForm{
  padding: 10px;
}
.searchForm input{
  background-color: transparent;
  border: none;
  color: white;
  outline: none;
  &::placeholder{
    color: wheat;
  }
}

.userChat{
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
  color: white;
  cursor: pointer;

  &:hover{
    background-color: rgb(41, 1, 54);
  }
}

.userchatinfo span {
  font-size: 18px;
  font-weight: 500;
}

.userchatinfo p {
  font-size: 14px;
  color: lightgray;
  margin-left: 0px;
  margin-top: 0.5px;
}

.chat{
  flex: 2;

}

.chatInfo{
    height: 50px;
    background-color: rgb(48, 38, 61);
    display: flex;
    align-items: center ; 
    justify-content: space-between;
    padding: 10px;
    color: lightgray; 
}
.charIcons{
  display: flex;
  gap: 10px;
}

.charIcons img{
  height: 24px;
  cursor: pointer;
  background: none;
}

.messages{
  background-color: rgb(32 17 42);
  padding: 10px;
  height: calc(100% - 160px);
  overflow: scroll;
}

.input{
  height: 50px;
  background-color: white;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.input input{
  width: 100%;
  border: none;
  outline: none;
  color: gray;
  font-size: 18px;

  &::placeholder {
    color: lightgray;
  }
}

.send{
  display: flex;
  align-items: center;
  gap: 10px;
}

.send button{
  border: none;
  padding: 10px 15px;
  color: white;
  background-color: rgb(21, 116, 147); 
}

.message{
  display: flex;
  gap: 20px;
  margin-bottom: 20px;

  &.owner{
    flex-direction:  row-reverse;
  }

  
}

.messageInfo{
  display: flex;
  flex-direction: column;
  color: gray;
  font-weight: 300;
}

.messageInfo img{
  width: 40px;
  height: 40px;
  border-radius: none;
  object-fit: cover;
}

.messageContent {
  max-width: 80%;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.messageContent p {
  background-color: white;
  padding: 10px 20px;
  border-radius: 0px 10px 10px 10px;
}